.notVisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

footer {
  background-color: #ffc107;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}
