.notVisible {
  visibility: hidden;
}

.visible {
  visibility: visible;
  font-weight: bold;
  margin: 0;
}

footer {
  background-color: #ffc107;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 0;
}

.w-resize {
  width: 100px;
}

.cart-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.total {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 500px) {
  .cart-box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .total {
    margin-bottom: 20px;
  }
}
